* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
  width: 100vw;
  min-height: 100vh;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

body {
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

.intro {
  background: #2b2b2b;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2em 3em;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu > li {
  height: 300px;
  width: 300px;
  margin: 3px;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.menu > li > img{
  width: 300px;
}
.menu > li > h1 {
  text-align: center;
  color: #232323;
}
.menu > li > p {
  text-align: center;
  color: #232323;
  font-weight: bold;
  font-size: 26px;
}